name: build-exe

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Install OCRAN
        run: gem install ocran --no-document

      - name: Build exe
        run: ocran sai.rb

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sai-exe
          path: "*.exe"
